Orit.Egrul.WebPart/src/Orit.EgrulViewer/Components/Service References/Gate2FNSService/ResponseVIPFL.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.unisoft/EGRNXX/ResponseVIPFL" elementFormDefault="qualified" targetNamespace="http://ws.unisoft/EGRNXX/ResponseVIPFL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Документ9">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="СвИП">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="СвФЛ">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="ФИОРус" type="tns:ФИОТип" />
                  <xs:element minOccurs="0" maxOccurs="1" name="ФИОЛат" type="tns:ФИОТип" />
                  <xs:element minOccurs="0" maxOccurs="1" name="СвРожд" type="tns:СведРождТип" />
                </xs:sequence>
                <xs:attribute name="Пол" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="1" />
                      <xs:enumeration value="2" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="ГРНИП" type="xs:string" />
                <xs:attribute name="ДатаНачДейств" type="xs:date" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="СвГражд">
              <xs:complexType>
                <xs:attribute name="ДатаНачДейств" type="xs:date" use="required" />
                <xs:attribute name="ГРНИП" type="xs:string" />
                <xs:attribute name="ВидГражд" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="1" />
                      <xs:enumeration value="2" />
                      <xs:enumeration value="3" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="ОКСМ" type="xs:string" />
                <xs:attribute name="НаимСтран" type="xs:string" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="СвАдрМЖ">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="АдресРФ" type="tns:АдрРФТипВып" />
                </xs:sequence>
                <xs:attribute name="ГРНИП" type="xs:string" />
                <xs:attribute name="ДатаНачДейств" type="xs:date" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="СвУдЛичнФЛ">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="УдЛичнФЛ" type="tns:УдЛичнТипР" />
                </xs:sequence>
                <xs:attribute name="ГРНИП" type="xs:string" />
                <xs:attribute name="ДатаНачДейств" type="xs:date" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="СвПравЖитРФ">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="ДокПравЖитРФ" type="tns:УдЛичнТипР" />
                </xs:sequence>
                <xs:attribute name="СрокДействДок" type="xs:date" use="required" />
                <xs:attribute name="ГРНИП" type="xs:string" />
                <xs:attribute name="ДатаНачДейств" type="xs:date" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="СвОКВЭД">
              <xs:complexType>
                <xs:attribute name="ДатаНачДейств" type="xs:date" use="required" />
                <xs:attribute name="ГРНИП" type="xs:string" />
                <xs:attribute name="ПрОснДоп" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="1" />
                      <xs:enumeration value="2" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="КодОКВЭД" type="xs:string" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="СвСтатус_РО">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="СвСтатус">
                    <xs:complexType>
                      <xs:attribute name="КодСтатус" type="xs:string" />
                      <xs:attribute name="НаимСтатус" type="xs:string" />
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="СвРегОрг" type="tns:СвРегОргТип" />
                </xs:sequence>
                <xs:attribute name="ГРНИП" type="xs:string" />
                <xs:attribute name="ДатаНачДейств" type="xs:date" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="СвРегИП">
              <xs:complexType>
                <xs:attribute name="ДатаНачДейств" type="xs:date" use="required" />
                <xs:attribute name="ГРНИП" type="xs:string" />
                <xs:attribute name="ДатаРег" type="xs:date" use="required" />
                <xs:attribute name="РегНом" type="xs:string" />
                <xs:attribute name="НаимРО" type="xs:string" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="СвКФХ">
              <xs:complexType>
                <xs:attribute name="ДатаНачДейств" type="xs:date" use="required" />
                <xs:attribute name="ГРНИП" type="xs:string" />
                <xs:attribute name="ОГРН" type="xs:string" />
                <xs:attribute name="ИНН" type="xs:string" />
                <xs:attribute name="НаимЮЛПолн" type="xs:string" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="СвНовЮЛ">
              <xs:complexType>
                <xs:attribute name="ДатаНачДейств" type="xs:date" use="required" />
                <xs:attribute name="ГРНИП" type="xs:string" />
                <xs:attribute name="ОГРН" type="xs:string" />
                <xs:attribute name="ИНН" type="xs:string" />
                <xs:attribute name="НаимЮЛПолн" type="xs:string" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="СвУчетНО">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="СвНО">
                    <xs:complexType>
                      <xs:attribute name="КодНО" type="xs:string" />
                      <xs:attribute name="НаимНО" type="xs:string" />
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="ДатаПостУч" type="xs:date" use="required" />
                <xs:attribute name="ДатаСнУч" type="xs:date" />
                <xs:attribute name="ДатаНачДейств" type="xs:date" use="required" />
                <xs:attribute name="ГРНИП" type="xs:string" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="СвРегПФ">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="СвОргПФ">
                    <xs:complexType>
                      <xs:attribute name="КодПФ" type="xs:string" />
                      <xs:attribute name="НаимПФ" type="xs:string" />
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="ДатаРег" type="xs:date" use="required" />
                <xs:attribute name="ДатаСнУч" type="xs:date" />
                <xs:attribute name="РегНомПФ" type="xs:string" />
                <xs:attribute name="ДатаНачДейств" type="xs:date" use="required" />
                <xs:attribute name="ГРНИП" type="xs:string" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="СвРегФСС">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="СвОргФСС">
                    <xs:complexType>
                      <xs:attribute name="КодФСС" type="xs:string" />
                      <xs:attribute name="НаимФСС" type="xs:string" />
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="ДатаРег" type="xs:date" use="required" />
                <xs:attribute name="ДатаСнУч" type="xs:date" />
                <xs:attribute name="РегНомФСС" type="xs:string" />
                <xs:attribute name="ДатаНачДейств" type="xs:date" use="required" />
                <xs:attribute name="ГРНИП" type="xs:string" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="СвЛицензия">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="НаимЛицВидДеят" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="МестоДейстЛиц" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="ЛицОргВыдЛиц" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="СвПриостЛиц">
                    <xs:complexType>
                      <xs:attribute name="ДатаПриостЛиц" type="xs:date" use="required" />
                      <xs:attribute name="ЛицОргПриостЛиц" type="xs:string" />
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="ДатаЛиц" type="xs:date" use="required" />
                <xs:attribute name="ВидЛиц" type="xs:string" />
                <xs:attribute name="ДатаОкончЛиц" type="xs:date" />
                <xs:attribute name="ДатаНачЛиц" type="xs:date" use="required" />
                <xs:attribute name="ГРНИП" type="xs:string" />
                <xs:attribute name="ДатаНачДейств" type="xs:date" use="required" />
                <xs:attribute name="НомЛиц" type="xs:string" />
                <xs:attribute name="СерЛиц" type="xs:string" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="СвЗапДейств">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="ВидЗап">
                    <xs:complexType>
                      <xs:attribute name="КодСПВЗ" type="xs:string" />
                      <xs:attribute name="НаимВидЗап" type="xs:string" />
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="СвРегОрг" type="tns:СвРегОргТип" />
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="СвСвид">
                    <xs:complexType>
                      <xs:attribute name="ДатаЗап" type="xs:date" use="required" />
                      <xs:attribute name="ГРНИП" type="xs:string" />
                      <xs:attribute name="Серия" type="xs:string" />
                      <xs:attribute name="Номер" type="xs:string" />
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="ГРНИП" type="xs:string" />
                <xs:attribute name="ДатаЗап" type="xs:date" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="СвЗапНеДейств">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="ВидЗап">
                    <xs:complexType>
                      <xs:attribute name="КодСПВЗ" type="xs:string" />
                      <xs:attribute name="НаимВидЗап" type="xs:string" />
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="СвРегОрг" type="tns:СвРегОргТип" />
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="СвПризнНед">
                    <xs:complexType>
                      <xs:attribute name="ДатаЗап" type="xs:date" use="required" />
                      <xs:attribute name="ГРНИП" type="xs:string" />
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="ГРНИП" type="xs:string" />
                <xs:attribute name="ДатаЗап" type="xs:date" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="ИННФЛ" type="xs:string" />
          <xs:attribute name="КодВидИП" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="1" />
                <xs:enumeration value="2" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="ДатаВып" type="xs:date" use="required" />
          <xs:attribute name="ОГРНИП" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ИдДок" type="xs:string" />
    <xs:attribute name="ВерсФорм" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="4.01" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ФИОТип">
    <xs:attribute name="Фамилия" type="xs:string" />
    <xs:attribute name="Имя" type="xs:string" />
    <xs:attribute name="Отчество" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="СведРождТип">
    <xs:attribute name="ДатаРожд" type="xs:date" use="required" />
    <xs:attribute name="МестоРожд" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="АдрРФТипВып">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Регион">
        <xs:complexType>
          <xs:attribute name="ТипРегион" type="xs:string" />
          <xs:attribute name="НаимРегион" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Район">
        <xs:complexType>
          <xs:attribute name="ТипРайон" type="xs:string" />
          <xs:attribute name="НаимРайон" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Город">
        <xs:complexType>
          <xs:attribute name="ТипГород" type="xs:string" />
          <xs:attribute name="НаимГород" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="НаселПункт">
        <xs:complexType>
          <xs:attribute name="ТипНаселПункт" type="xs:string" />
          <xs:attribute name="НаимНаселПункт" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Улица">
        <xs:complexType>
          <xs:attribute name="ТипУлица" type="xs:string" />
          <xs:attribute name="НаимУлица" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Дом" type="xs:string" />
    <xs:attribute name="Корпус" type="xs:string" />
    <xs:attribute name="Кварт" type="xs:string" />
    <xs:attribute name="Индекс" type="xs:string" />
    <xs:attribute name="КодРегион" type="xs:string" />
    <xs:attribute name="КодАдрКладр" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="УдЛичнТипР">
    <xs:attribute name="КодВидДок" type="xs:string" />
    <xs:attribute name="НаимДок" type="xs:string" />
    <xs:attribute name="СерНомДок" type="xs:string" />
    <xs:attribute name="ДатаДок" type="xs:date" use="required" />
    <xs:attribute name="ВыдДок" type="xs:string" />
    <xs:attribute name="КодВыдДок" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="СвРегОргТип">
    <xs:attribute name="КодНО" type="xs:string" />
    <xs:attribute name="НаимНО" type="xs:string" />
  </xs:complexType>
</xs:schema>